#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

<<<<<<< HEAD
@media screen and (min-width: 1200px) {
=======
@media screen and (max-width: 2000px) {
>>>>>>> 17c6c248d39dfedf67faad40be496d4586722a37
  #no-mobile {
    display: none;
  }
}
