.user-component {
  justify-content: space-between;
}

.user-component,   /* -> user-component__column이 flex로 정렬이 된 것이다. */
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-size: 25px;
  font-weight: 600;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column:last-child i {
  margin-left: 5px;
}

.user-component__time {
  margin-bottom: 10px;
}

/* ↓ subtitle 필요할 때 사용할 것! */

.user-component__subtitle {
  margin-top: 8px;
  color: var(--main-color);
}

.user-component__subtitle i {
  margin-left: 5px;
  color: tomato;
}
